.footer{
    background-color: gray;
    margin: 20px 0px 0px 0px;
    padding: 20px;
}

.logo{
    width:40px;
    height:40px;
    margin: 10px;
}
.flex{
    display: flex;
    color: white;
    background-color: gray;
    align-items: center;
    margin-bottom: 30px;
   
    }

.line{
    height:15px;
    margin:0px 10px 0px 10px;
    color:white;
    background-color: white;
    width: 2px;
}